%small-bold {
  font: {
    size: 14px;
    weight: 700;
  }
  text-transform: uppercase;
}

%skill-active-color {
  background-color: #ccc
}

%bg-img {
    background-repeat: no-repeat, no-repeat;
    background-size: 45px auto, cover;
    background-position: 30px 50px, 50% 50%;
    background-blend-mode: overlay, normal;
}

@mixin link-hover-transition {
  position: relative;
        
  &::after {
    transition: width .25s;
    content: '';
    left: 0;
    bottom: -1px;
    position: absolute;
    display: inline-block;
    width: 0;
    height: 3px;
    background-color: white;
    mix-blend-mode: overlay;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}