<section>

  <h3 id="about-me">About</h3>
  
  <div class="face-lockup">
    
<!--    <div class="face-img"></div>-->
    <figure class="face-img">
      <img id="avatar" src="{{ site.data.settings.gravatar | get_gravatar }}?s=400" alt="">
      <img id="avatar--alternate" class="" src="{{ site.data.settings.gravatar_alternate | get_gravatar }}?s=400" alt="">
    </figure>
    
    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html %}</div>
    
  </div>
  
  
  <div class="blurb">
 	{% include about-blurb.html %}
  </div>
  
<!--include skill.html  -->

</section>
