<p>
	Hi, I'm Byron Buckley, a Front-end Developer{% fn %} 
	interested in methods of building user interfaces. 
	I've had success working on distributed teams alongside UX-ers and back-end developers 
	to produce robust markup for server-side integration or client use.
</p>

<p>
  I stay current by leveraging the curated content{% fn %} 
  of a few industry newsletters and keeping abreast of front-end guidelines{% fn %} 
  and best practices{% fn %}.
</p>

<p>
  While Front-end Development is my core skill, I've also completed graduate studies in UX Design{% fn %}.
</p>
<div class="footnotes">
 <h3 id="footnotes">
   Footnotes
   <span class="visuallyhidden">Please note: Footnote links open a new window.</span>
 </h3>
  {% footnotes %}
     {% fnbody %}
        <a href="http://blog.salsitasoft.com/the-shifting-definition-of-front-end-developer/" target="_blank" rel="external">The Shifting Definition of Front-end Developer</a>
     {% endfnbody %}
     {% fnbody %}<a href="https://twitter.com/frontendrescue/lists/cool-people" target="_blank" rel="external">Twitter List curated by Front-end Rescue</a>{% endfnbody %}
     {% fnbody %}<a href="http://sass-guidelin.es/" target="_blank" rel="external">Sass Guidelines</a>{% endfnbody %}
     {% fnbody %}<a href="http://cssguidelin.es" target="_blank" rel="external">CSS Guidelines</a>{% endfnbody %}
     {% fnbody %}<a href="/ux/">Academic Portfolio</a>{% endfnbody %}
  {% endfootnotes %}
  <!--  <li><a href="http://blog.salsitasoft.com/the-shifting-definition-of-front-end-developer/" target="_blank" rel="external">Front-end Defined:</a> UX, HTML, CSS and jQuery, with a smattering of Angular directives and the like (React, Knockout) thrown into the mix.</li>-->
</div>