<section>
	<h3>About Myself</h3>
	
	<div class="face-lockup">
		
		<div class="face-img"></div>
		
		<div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
		<div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
		<div class="icon-browser">{% include icons/icon-browser.html %}</div>
		<div class="icon-video">{% include icons/icon-video.html %}</div>
		
	</div>
	
    <div class="blurb">
	<p>
		<strong>
			Phasellus fringilla faucibus augue, eu sodales nisl accumsan non. 
		</strong>	
			Etiam gravida aliquet luctus. Mauris id accumsan nisl. Ut varius erat lacus, eu faucibus eros dapibus sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris elementum dolor urna, at scelerisque neque laoreet id. Etiam placerat risus viverra lectus eleifend pharetra. Proin tincidunt metus dui, nec vestibulum massa pretium id. Mauris nulla sem, iaculis eget enim eget, aliquam aliquet velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus at fringilla dui. Mauris eu leo nisi.
	</p>
    </div>
	
	<div class="skill-lockup">
		<div class="skill-unit">
            <div class="skill-label">Reading</div>
            <div class="skill-icons skill-9">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Ritin'</div>
            <div class="skill-icons skill-10">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">'Rithmetic</div>
            <div class="skill-icons skill-9">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Skill #1</div>
            <div class="skill-icons skill-8">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Skill #2</div>
            <div class="skill-icons skill-7">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Skill #3</div>
            <div class="skill-icons skill-6">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Skill #4</div>
            <div class="skill-icons skill-5">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Skill #5</div>
            <div class="skill-icons skill-8">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
	</div>
	
</section>