<section>

  <h3 id="about-me">About</h3>
  
  <div class="face-lockup">
    
<!--    <div class="face-img"></div>-->
    <figure class="face-img">
      <img id="avatar" src="{{ site.data.settings.gravatar | get_gravatar }}?s=400" alt="Byron Buckley">
      <img id="avatar--alternate" class="" src="{{ site.data.settings.gravatar_alternate | get_gravatar }}?s=400" alt="Byron Buckley Smiling">
    </figure>
    <div class="icon-pencil">
    	<svg class="icon">
			<use xlink:href="#pencil"></use>
		</svg>
    </div>
    <div class="icon-mouse">
    	<svg class="icon">
			<use xlink:href="#mouse"></use>
		</svg>
	</div>
    <div class="icon-browser">
    	<svg class="icon">
			<use xlink:href="#browser"></use>
		</svg>
	</div>
    <div class="icon-video">
    	<svg class="icon">
			<use xlink:href="#video"></use>
		</svg>
	</div>
    
  </div>
  
  
  <div class="blurb">
 	{% include about-blurb.html %}
  </div>
  
<!--include skill.html  -->

</section>
