<section class="">
    
<!--    <h3>Contact</h3>-->
	
	<form method="post" action="//formspree.io/{{ site.data.settings.email }}">
		
		<div class="contact-info-group">
			<label><span>Name</span>
				<input type="text" name="name">
			</label>
			<label><span>Email</span>
				<input type="email" name="_replyto">
			</label>
		</div>
		<label><span>Message</span>
			<textarea name="message"></textarea>
		</label>
		<div class="submit-wrap">
			<input type="submit" value="Send">
		</div>
	</form> 
	
</section>