<head> 
  <title>
    {% if page.title %}
      {{ site.data.settings.title }} | {{ page.title }}
    {% else %}
       {{ site.data.settings.title }} | 
       {% if site.data.settings.hired %}
         {{ site.data.settings.description }}
       {% else %}
         {{ site.data.settings.alt-description }}
       {% endif %}
    {% endif %}
  </title>
  <meta name="description" content="Freelance Front-end Developer available for part-time, full-time and contract-to-hire engagements." />
  <meta name="keywords" content="css, scss, sass, javascript, jquery, ui, ux, front-end, developer, usability" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">  
  <link rel="stylesheet" href="/assets/css/all.dist.css" />
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
