{% for item in site.data.settings.menu %}
    {% if item.name == 'Blog' %}
        <a target="_blank" rel="external" href="{{ item.url }}">
          {{ item.name }}
          <span class="visuallyhidden">Note: Link opens a new window.</span>
        </a>
    {% else %}
        <a href="/{{ item.url }}">
          {% if site.data.settings.hired %}
            {{ item.name }}
          {% else %}
            {{ item.name | replace: 'Contact', 'Hire Me' }}
          {% endif %}
        </a>
    {% endif %}
{% endfor %}