<section class="alt-section section-work">
  
  <h3 id="work">Work</h3>
  {% for project in site.data.work.projects %}
    <input type="radio" name="trigger" class="trigger" id="{{ project.folder }}" />
  {% endfor %}

  <input type="radio" name="trigger" id="return" class="return" />

  <div class="work-belt">
    
    <div class="thumb-wrap">
      <div class="thumb-container">
      {% for project in site.data.work.projects %}
      <label for="{{ project.folder }}">  
        <div class="thumb-unit" data-folder="{{ project.folder }}">
          <img src="assets/img/work/{{project.folder}}/thumb.{{project.thumb}}" alt="{{ project.name }}" />
          <span class="">{{ project.tenure }}</span>
        </div> 
        <div class="thumb-overlay">
          <strong>{{ project.name }}</strong>
        </div>
      </label>
      {% endfor %}
    </div>
    </div>
    
    <div class="work-wrap">
      <div class="work-container">
        <label for="return">
          <div class="work-return">{% include icons/icon-back.html %}</div>
        </label>
        <h4 class="project-title"></h4>
        <div class="project-load"></div>
      
<!--        work-no-script.html-->
      </div>
    </div>
    
  </div>
</section>