<section class="section-work">
  
  <h3 id="work" aria-level="2">Work</h3>

  <div class="work-belt">
    
    <div class="thumb-wrap">
      <div class="thumb-container">
      {% for project_hash in site.data.work.projects %}
      {% assign project = project_hash[1] %}
      <a class="thumb-unit-wrap" href="/work/{{project.folder}}/page" aria-label="Project or Engagment: {{ project.name }}; Tenure: {{ project.tenure }}">  
        <div class="thumb-unit" data-folder="{{ project.folder }}">
          <img src="assets/img/work/{{project.folder}}/thumb.{{project.thumb}}" alt="" />
          <span class="" >{{ project.tenure }}</span>
        </div> 
        <div class="thumb-overlay">
          <strong aria-hidden=true>{{ project.name }}</strong>
        </div>
      </a>
      {% endfor %}
    </div>
    </div>
    
    <div class="work-wrap">
      <div class="work-container">
          <button aria-label="Go Back" class="work-return">
          	<svg class="icon">
				<use xlink:href="#back"></use>
			</svg>
          </button>
        <h4 class="project-title"></h4>
        <div class="project-load"></div>
      
<!--        work-no-script.html-->
      </div>
    </div>
    
  </div>
</section>