<p><a href="http://genovaseafood.com" title="Visit Genova Seafood" target="_blank">
  <img src="assets/img/work/genova/img1.jpg" alt="Genova Seafood" />
</a> 
Responsive template development (SCSS + HTML) of homepage variations for A/B testing.<br />
- <a href="http://www.genovaseafood.com/go/2015r3" target="_blank" title="See Version A">Version A</a><br />
- <a href="http://www.genovaseafood.com/go/2015s3" target="_blank" title="See Version B">Version B</a><br />
<a href="http://genovaseafood.com" title="Visit Genova Seafood" target="_blank">Visit Genova Seafood</a></p>
<hr />

<p>Engagement: Krafted By Us; a Bay Area Web Studio<br />
Role: Front-end Developer<br />
Tenure: Q2 - 2015<br />
Stack: Craft CMS</p>
