body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:20px;
    width:320px;
    height:460px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:460px;
}

.u1 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:41px;
    top:30px;
    width:14px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:258px;
    top:30px;
    width:14px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:24px;
    top:480px;
    width:14px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:67px;
    top:480px;
    width:14px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:153px;
    top:480px;
    width:14px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:285px;
    top:480px;
    width:14px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:229px;
    top:480px;
    width:14px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_start {
    background-image: url('../Existing_UI_files/u9_start.png');
}

.u9_start {
    position:absolute;
    left:-4px;
    top:-5px;
    width:14px;
    height:20px;
}

.u9_end {
    background-image: url('../Existing_UI_files/u9_end.png');
}

.u9_end {
    position:absolute;
    left:289px;
    top:-5px;
    width:14px;
    height:20px;
}

.u9_line {
    background-image: url('../Existing_UI_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:2px;
    width:298px;
    height:7px;
}

.u9 {
    position:absolute;
    left:11px;
    top:241px;
    width:298px;
    height:10px;
    
}

.u10 {
    position:absolute;
    left:303px;
    top:212px;
    width:14px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Existing_UI_files/Menu_u11_normal.png');
}

.u11_container {
    position:absolute;
    left:507px;
    top:20px;
    width:320px;
    height:461px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:461px;
}

.u12 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

