body {
  margin:0px;
}
#u0 {
  position:absolute;
  left:10px;
  top:153px;
  width:100px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:423px;
  top:32px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:224px;
  top:153px;
  width:100px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:224px;
  top:307px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u7 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:110px;
  top:183px;
  width:114px;
  height:0px;
}
#u8_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:128px;
  height:20px;
}
#u9 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:324px;
  top:183px;
  width:99px;
  height:-121px;
}
#u10_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:103px;
  height:20px;
}
#u10_seg1 {
  position:absolute;
  left:79px;
  top:-131px;
  width:20px;
  height:141px;
}
#u10_seg2 {
  position:absolute;
  left:79px;
  top:-131px;
  width:24px;
  height:20px;
}
#u11 {
  position:absolute;
  left:39px;
  top:-29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:274px;
  top:213px;
  width:0px;
  height:94px;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:108px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:224px;
  top:337px;
  width:-164px;
  height:-124px;
}
#u14_seg0 {
  position:absolute;
  left:-174px;
  top:-10px;
  width:178px;
  height:20px;
}
#u14_seg1 {
  position:absolute;
  left:-174px;
  top:-128px;
  width:20px;
  height:138px;
}
#u15 {
  position:absolute;
  left:-194px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:285px;
  top:246px;
  width:39px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:353px;
  top:153px;
  width:39px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:224px;
  top:32px;
  width:100px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:153px;
  width:214px;
  height:-121px;
}
#u22_seg0 {
  position:absolute;
  left:-10px;
  top:-141px;
  width:20px;
  height:145px;
}
#u22_seg1 {
  position:absolute;
  left:-10px;
  top:-141px;
  width:234px;
  height:20px;
}
#u22_seg2 {
  position:absolute;
  left:204px;
  top:-141px;
  width:20px;
  height:24px;
}
#u23 {
  position:absolute;
  left:-4px;
  top:-139px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:606px;
  top:307px;
  width:100px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:423px;
  top:307px;
  width:100px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:776px;
  top:307px;
  width:100px;
  height:60px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u29 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:750px;
  top:446px;
  width:153px;
  height:79px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:80px;
}
#u31 {
  position:absolute;
  left:2px;
  top:24px;
  width:149px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:826px;
  top:367px;
  width:0px;
  height:79px;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:93px;
}
#u33 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:473px;
  top:92px;
  width:0px;
  height:215px;
}
#u34_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:229px;
}
#u35 {
  position:absolute;
  left:-50px;
  top:100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:523px;
  top:62px;
  width:133px;
  height:245px;
}
#u36_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:147px;
  height:20px;
}
#u36_seg1 {
  position:absolute;
  left:123px;
  top:-10px;
  width:20px;
  height:259px;
}
#u37 {
  position:absolute;
  left:83px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:473px;
  top:32px;
  width:353px;
  height:275px;
}
#u38_seg0 {
  position:absolute;
  left:-10px;
  top:-20px;
  width:20px;
  height:24px;
}
#u38_seg1 {
  position:absolute;
  left:-10px;
  top:-20px;
  width:373px;
  height:20px;
}
#u38_seg2 {
  position:absolute;
  left:343px;
  top:-20px;
  width:20px;
  height:299px;
}
#u39 {
  position:absolute;
  left:264px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:473px;
  top:92px;
  width:-249px;
  height:-30px;
}
#u40_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u40_seg1 {
  position:absolute;
  left:-269px;
  top:0px;
  width:279px;
  height:20px;
}
#u40_seg2 {
  position:absolute;
  left:-269px;
  top:-40px;
  width:20px;
  height:60px;
}
#u40_seg3 {
  position:absolute;
  left:-269px;
  top:-40px;
  width:24px;
  height:20px;
}
#u41 {
  position:absolute;
  left:-200px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
