body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:361px;
}
#u1 {
  position:absolute;
  left:2px;
  top:172px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:40px;
  width:239px;
  height:164px;
  font-family:'', '', 'Roboto Th';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:165px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:275px;
  top:40px;
  width:55px;
  height:45px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:600px;
  top:0px;
  width:40px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:360px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:360px;
}
#u9 {
  position:absolute;
  left:2px;
  top:172px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:356px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:356px;
}
#u11 {
  position:absolute;
  left:340px;
  top:97px;
  width:256px;
  height:47px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:47px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:340px;
  top:156px;
  width:262px;
  height:47px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:47px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:344px;
  top:213px;
  width:255px;
  height:47px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:47px;
}
#u16 {
  position:absolute;
  left:2px;
  top:16px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:340px;
  top:40px;
  width:183px;
  height:47px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:47px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:362px;
  top:282px;
  width:46px;
  height:34px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:34px;
}
#u20 {
  position:absolute;
  left:2px;
  top:9px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:418px;
  top:292px;
  width:184px;
  height:26px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:26px;
}
#u22 {
  position:absolute;
  left:2px;
  top:5px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
