<section>
  <h3 aria-level="2">User Experience</h3>
  <div class="work__detail">
    <p>
      The wireframe is the artifact that introduced me to UX. 
      As a brand new web developer, I'd receive a wireframe outlining what to build; each wireframe had the name of the author and his title/role. 
      I remember seeing the title "Interaction Designer" and wondering what that meant. 
      I soon learnt that Interaction Design was one of the many areas a UX Designer could specialise in. 
      What was even more interesting to me was that there were design roles independent of Visual Designer (and it's Graphic/Web/UI variations). 
    </p>
    <p>
      Curious of the reasoning behind "why this button goes there", I read blogs upon blogs and gained some understanding of the field. 
      Ultimately I sought a structured approach to learning and enrolled in the University of Baltimore's User Experience (UX) graduate certificate program. 
      This introduced me to various UX disciplines including interaction design, information architecture and usability analysis. 
    </p>
    <p>
      I suspect the term UX Designer remains conflated with UI Designer and continues to conjure up images of "gorgeous iOS apps".
      Still I'd like to carve a niche in the less flashy disciplines of Interaction Design, Usability Testing and User Research.
    </p>
    <p>You may visit the program's <a href="http://www.ubalt.edu/cas/graduate-programs-and-certificates/certificate-programs/certificate-in-user-experience-design/certificate-requirements.cfm" target="_blank" rel="external">landing page</a> to learn more about the syllabus.</p>
  </div>
</section>