<section class="section-work">
  <h3 aria-level="2">{{ page.title }}</h3>
  
  <div class="work-belt">
    
    <div class="thumb-wrap">
      <div class="thumb-container">
        {% for project_hash in site.data.academic.projects %}
        {% assign project = project_hash[1] %}
        <a class="thumb-unit-wrap" href="/academic/{{project.folder}}/page" aria-label="{{ project.engagement-type }}: {{ project.name }}; Tenure: {{ project.tenure | replace: '-','to' }}">  
          <div class="thumb-unit">
            <img src="../assets/img/academic/{{project.folder}}/thumb.{{project.thumb}}" alt="" />
            <span aria-hidden="true">{{ project.course }}</span>
          </div>
          <div class="thumb-overlay">
            <strong aria-hidden="true">{{ project.name }}</strong>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    
    <div class="work-wrap" aria-hidden="true" id="work-item-details">
      <div class="work-container">
        <button aria-label="Go Back to Works List" class="work-return">
          <svg class="icon">
              <use xlink:href="#back"></use>
          </svg>
        </button>
        <h4 class="project-title" tabindex="-1"></h4>
        <span class="visuallyhidden">Please note: links in this section open a new window.</span>
        <div class="project-load"></div>
      </div>
    </div>
    
  </div>
</section>