header {
  
    + svg {
      display: none; // hide sprite cuz it causes selecting problems
    }
  
	position: relative;
	height: 450px;
	padding-bottom: 50px;
	background: {
		image: url(/assets/img/#{$bg-header-path});
		size: cover;
		repeat: no-repeat;
		position: 50% 50%;
	}
  
    .logo .icon {
		@include position(absolute, 30px null null 30px);
		@include size(50px);
		mix-blend-mode: overlay;
	}
    
    nav {
      float: right;
      padding: 30px 30px 0 0;
      
      a {
        display: inline-block;
        margin-left: 20px;
        color: rgba(255,255,255,0.7);
        @extend %small-bold;
        
         &:hover {
          color: rgba(255,255,255,1);
         }
      }
      
    }
    
    h1 {
      text-align: center;
      font: {
        size: 72px;
        weight: 700;
      }
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: 20px;
      clear: both;
      padding-top: 100px;
      
      span {
        display: inline-block;
        padding: 0.2em 0.5em; 
        border: white solid 10px;
      }
    }
    
    .kicker {
      text-align: center;
      @extend %small-bold;
      letter-spacing: 0.05em;
      color: white;
      line-height: 1;
    }
  
	&.subpage {
		height: 80px;
		
		@media (min-width: $preMedium) {
			height: 60px;
			
			nav {
				top: 50%;
				right: 30px;
				transform: translateY(-50%);
				position: absolute;
				padding: 0;
			}
		}
	}
}



@media (max-width: 640px) {
	header {
		height: 100vh;
		
		> .logo .icon {
			left: 0;
			text-align: center;
			display: block;
			width: 100%;
			mix-blend-mode: normal;
		}

		nav {
			float: none;
			text-align: center;
			padding-top: 90px;
		}

		h1 {
			padding-top: 0px;
		}
	}
}
