body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:361px;
}
#u1 {
  position:absolute;
  left:2px;
  top:172px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:405px;
  top:283px;
  width:46px;
  height:34px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:34px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:275px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:275px;
}
#u5 {
  position:absolute;
  left:461px;
  top:280px;
  width:138px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:29px;
  top:283px;
  width:349px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
