body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Concept_2_files/History_Menu_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:21px;
    width:320px;
    height:463px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:463px;
}

.u1 {
    position:absolute;
    left:2px;
    top:224px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:0px;
    top:21px;
    width:320px;
    height:418px;
    overflow:hidden;
}

#pd2u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:418px;
    
}

.u3_normal {
    background-image: url('../Concept_2_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:418px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:418px;
}

.u4 {
    position:absolute;
    left:2px;
    top:201px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:418px;
    
}

.u5_normal {
    background-image: url('../Concept_2_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:418px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:418px;
}

.u6 {
    position:absolute;
    left:2px;
    top:201px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:418px;
    
}

#u7 {
    position:absolute;
    left:118px;
    top:438px;
    width:36px;
    height:46px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u8 {
    position:absolute;
    left:164px;
    top:438px;
    width:36px;
    height:44px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u9 {
    position:absolute;
    left:57px;
    top:438px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u10 {
    position:absolute;
    left:0px;
    top:97px;
    width:320px;
    height:342px;
    overflow:hidden;
}

#pd0u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:342px;
    
}

.u11_normal {
    background-image: url('../Concept_2_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:115px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:115px;
}

.u12 {
    position:absolute;
    left:2px;
    top:50px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Concept_2_files/u11_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:114px;
    width:320px;
    height:115px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:115px;
}

.u14 {
    position:absolute;
    left:2px;
    top:50px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Concept_2_files/u11_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:228px;
    width:320px;
    height:115px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:115px;
}

.u16 {
    position:absolute;
    left:2px;
    top:50px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:9px;
    top:9px;
    width:271px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:9px;
    top:68px;
    width:271px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:9px;
    top:292px;
    width:271px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:9px;
    top:125px;
    width:271px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:9px;
    top:177px;
    width:271px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:9px;
    top:239px;
    width:271px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:9px;
    top:34px;
    width:271px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:9px;
    top:93px;
    width:271px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:9px;
    top:150px;
    width:271px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:9px;
    top:202px;
    width:271px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:9px;
    top:264px;
    width:271px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:9px;
    top:317px;
    width:271px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:58px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u30 {
    position:absolute;
    left:0px;
    top:59px;
    width:320px;
    height:56px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

